.widget{
    display:flex;
    justify-content:space-between;
    flex:1;
    padding:10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201, 0.47);
    border-radius: 20px;
    height:120px;
    margin: 10px;
}
.left{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    
}
.iconFolder{
    color:black;
    font-size:20px;
}
.title{
    color:black;
    font-size: 20px;
}
.countfile{
    color:grey;
    font-size: 15px;
    border-bottom: 1px ;
}
.right{
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.speed{
    font-size: 30px;
    padding:5px;
    font-weight: bold;
}